{% extends "base/default.html.j2" %}

{% block profile %}
    active
{% endblock profile %}

{% block content %}
    {{ super() }}
    <h1>Mettre a jour mon mot de passe</h1>
    <div class = "row d-flex justifiy-content-center">

        <form method = "POST" action = "/editMDP" novalidate>
            <!--Token-->
            {{ form.csrf_token }}
            {{ form.password.label }} {{ from.password(class = "form-control") }} </br>
            {{ form.confirmPassword.label }} {{ form.confirmPassword(class = "form-control") }} </br>
            
            <!--Submittion-->
            {{ form.submit(class = "btn btn-primary") }}
        </form>
    </div>
{% endblock %}