<!--Inheritance-->
{% extends "base/default.html" %}

{% block profile %}
    active
{% endblock profile %}

{% block content %}
    {{ super() }}
    <h1>Mettre a jour mon profil</h1>

    <div class = "row d-flex justify-content-center">

        <form method="POST" action="/editProfile/{{ id }}" novalidate>
            <!--csfr token-->
            {{ form.csrf_token }}
            {{ form.username.label }} {{ from.username(class = "form-control") }} </br>
            {{ form.firstName.label }} {{ form.firstName(class = "form-control") }} </br>
            {{ form.lastName.label }} {{ form.lastName(class = "form-control") }} </br>
            {{ form.email.label }} {{ form.email(class = "form-control") }} </br>

            <!--Submittion-->
            {{ form.submit(class = "btn btn-primary") }}
        </form>
    </div>

{% endblock %}