{% extends "base/default.html.j2" %}
{% block pc %}
    active
{% endblock pc %}
{% block content %}
    {{ super() }}
    <h1>Edit my password</h1>
    <div class = "row d-flex justifiy-content-center">

        <form method = "POST" action = "/editMDP" novalidate class = "editForm">
            <!--Token-->
            {{ form.csrf_token }}
            <div class = "entree password">
				<!--First name control-->
				{{ form.password(placeholder = form.password.label.text, class = "form-control") }}
				{% if form.password.errors %} {% for message in form.password.errors %}
					{{ message }}
				{% endfor %}{% endif %}
			</div>

            <div class = "entree password">
				<!--Confirmation of password control-->
				{{ form.confirmPassword(placeholder = form.confirmPassword.label.text, class = "form-control") }} </br>
				{% if form.confirmPassword.errors %} {% for message in form.confirmPassword.errors %}
					{{ message }}
				{% endfor %}{% endif %}
			</div>
            
            <!--Submittion-->
            {{ form.submit(class = "bouton") }}
        </form>
    </div>
{% endblock %}