<!--Inheritance-->
{% extends "base/default.html" %}

{% block profile %}
    active
{% endblock profile %}

{% block content %}
    <!--Super is used when both parents and child share this.-->
    {{ super() }}

    <!--Display of the personal informations in form of a cart.-->
    <h2>My Information</h2>
    <div class="card">
        <div class="card-title">
            <h3>About me</h3>
        </div>
        
        <div class="card-body">
            <table class="table table-striped table-sm">
                <tbody>
                    <tr>
                        <th scope = "row">Pseudo</th>
                        <td>{{ current_user.username }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Prenom</th>
                        <td>{{ current_user.firstName }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nom</th>
                        <td>{{ current_user.lastName }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ current_user.email }}</td>
                    </tr>
                </tbody>   
            </table>
            <!--buttons to update the profile-->
      
            <a href = {{ url_for('editProfile') }} class = "btn btn-primary">Mettre a jour mon profil</a>
            <a href = {{ url_for('editMDP') }} class = "btn btn-primary">Mettre a jour mon mot de passe</a>
            <a href = {{ url_for('deleteProfile') }} class = "btn btn-danger">Supprimer mon compte</a>
        </div>
    </div>
{% endblock %}