{% extends 'base/default.html' %}

{% block content %}

    <br>
    <h2>Correction de la question :</h2><br>
    <div class = "card">
        <h3>Quelle est la deuxième loi de Newton</h3>
    </div>
    <br>
    <h3>Voici la bonne réponse </h3><br>
    <table class = "table table-striped table-sm">
        <thead>
            <tr>
                <th scope = "col">N°</th>
                <th scope = "col">Reponse possible</th>
                <th scope = "col">Bonne reponse</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    A
                </td>
                <td>
                    Tout objet non soumis à des forces conserve son état de repos ou de mouvement rectiligne et uniforme
                </td>
                <td>
                    <a class = "btn btn-danger">Mauvaise réponse</a>
                </td>
            </tr>
            <tr>
                <td>
                    B
                </td>
                <td>
                    F = m a
                <td>
                    <a class = "btn btn-success">Bonne réponse</a>
                </td>
            </tr>
            <tr>
                <td>
                    C
                </td>
                <td>
                    Action et réaction: si un objet exerce une force F sur un second objet, celui-ci exerce à son tour une force -F sur le premier.
                </td>
                <td>
                    <a class = "btn btn-danger">Mauvaise Reponse</a>
                </td>
            </tr>
            <tr>
                <td>
                    D
                </td>
                <td>
                    Les forces de frottements.
                </td>
                <td>
                    <a class = "btn btn-danger">Mauvaise Reponse</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <div class = "card">
        <div class = "card-title">
            Nombre de points gagnes :
        </div>
        <div class = "card-content">
            Félicitations ! Vous avez gagné 2 points avec cette question.
        </div>
    </div>
    <br>
    <a href = {{ url_for('podium') }} class = "bouton">Voir le classement</a>

{% endblock %}