{% extends "base/default.html" %}

{% block content %}
    <br>
    <h2>Voici la question associee au theme et au niveau de difficulte que vous avez choisi</h2><br>
    <div class = "card">
        xxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </div>
    <br>
    <h3>A vous de choisir la bonne reponse !</h3>
    <br>
    <table class = "table table-striped table-sm">
        <thead>
            <tr>
                <th scope = "col">N°</th>
                <th scope = "col">Reponse possible</th>
                <th scope = "col">Votre choix</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    A
                </td>
                <td>
                    xxxxxxxxxxxx
                </td>
                <td>
                    <a class = "btn btn-success" href = {{ url_for('correction') }}>Choisir cette reponse</a>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}