<!--Inheritance-->
{% extends 'base/base.html' %}

{% block nav %}
    <nav class = "nav nav-tabs">
        <a class = "nav-link active" href = {{ url_for('login') }}> Se connecter </a>
        <a class = "nav-link" href = {{ url_for('register') }}> Creer un compte </a>
    </nav>
{% endblock nav %}

{% block content %}
    <h2>Page de LogIn</h2>
    <div class = "row d-flex justify-content-center">
        <form method = "POST" action = "/login" novalidate>
            <!--Use of a crsf token-->
            {{ form.csrf_token }}

            <!--Username-->
            <div class = "entree username"> 
                {{ form.username(placeholder = form.username.label.text, class = "form-control") }} </br>
                {% if form.username.errors %} {%for error in form.username.errors %}
                    {{ message }}
                {% endfor %}{% endif %}
            </div>

            <!--Password-->
            <div class = "entree password">
                {{ form.password(placeholder = form.password.label.text, class = "form-control") }} </br>
                {% if form.password.errors %} {% for error in form.password.errors %}
                    {{ message }}
                {% endfor %}{% endif %}
            </div>

            <!--Submittion-->
            <div class = "row d-flex justify-content-center">
                {{ form.submit(class = "bouton") }}
            </div>
        </form>
    </div>
{% endblock %}