{% extends 'base/base.html' %}

<!--What follows concerns the navigation bar that will take place at the top of the page.-->
{% block nav %}
    <nav class = "nav nav-tabs navbar-expand-lg">
        <div class = "container">
            <!--Collapse means that the navbar is in a mobile view.-->
            <div class = "navbar-collapse">

                <!--Align averything with the end.-->
                <!--Navigation option can be associated to a certain jinja block content.-->
                <div class = "navbar-nav me-auto">
                    <a class = "nav-link {% block home %}{% endblock  %}" href = '/'>Page d'accueil</a>
                    <a class = "nav-link {% block gcreation %}{% endblock %}" href = {{ url_for('createGame') }}>Nouvelle partie</a>
					<a class = "nav-link {% block profile %}{% endblock %}" href = {{ url_for('profile') }}>Mon Profil</a>
                    <a class = "nav-link" href = {{ url_for('logout') }}>Se deconnecter</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock nav %}

{% block content %}
    <div id = "game"></div> 
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <!--Scripts to be add here-->
{% endblock scripts %}