{% extends 'base/default.html' %}
<!--Import of macros to modify, delete, edit, list them-->
{% import 'base/macros.html' as macros %}

{% block gaccess %}
    active
{% endblock gaccess %}

{% block content %}

    {{ super() }}
    <h2>Mes parties </h2>
    <table class = "table table-striped table-sm">
        <thead>
            <tr>
                <th scope = "col">Partie </th>
                <th scope = "col">Actions possibles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Nom de la partie xxxx
                </td>
                <td>
                    <a class = "bouton" href = {{ url_for('editGame') }}>Modifier</a>
                    <a class = "bouton" href = {{ url_for('startSynchro') }}>Lancer en synchrone</a>
                    <a class = "bouton" href = {{ url_for('startAsync') }}>Lancer en asynchrone</a>
                    <a class = "bouton" href = {{ url_for('deleteGame') }}>Supprimer</a>
                    <a class = "bouton" href = {{ url_for('acessResults') }}>Voir resultats</a>
                </td>
            </tr>
        </tbody>
    </table>


{% endblock %}